<div class="container-fluid">
    <!-- Segunda fila: una tabla que ocupa el ancho completo -->
    <div class="row">
        <div class="col-12">
            <app-table-users></app-table-users>
        </div>
    </div>
    <!-- Primera fila: dos tablas una al lado de la otra -->
    <div class="row">
        <div class="col-md-6">
            <app-table-products></app-table-products>
        </div>
        <div class="col-md-6">
            <app-table-tipes></app-table-tipes>
        </div>
    </div>
</div>
