@if (carouselItems.length > 0) {
	<ngb-carousel>
        @for (item of carouselItems; track item.image) {
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                    <img [src]="item.image" alt="Random first slide" />
                </div>
                <div class="carousel-caption">
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                </div>
            </ng-template>
        }
	</ngb-carousel>
}