<table class="table bordered text-light table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Stock</th>
        <th>Imagen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.id }}</td>
        <td>{{ producto.Nombre }}</td>
        <td>{{ producto.Precio }}</td>
        <td>{{ producto.Descripcion }}</td>
        <td>{{ producto.Stock }}</td>
        <td><img [src]="producto.Imagen" alt="{{ producto.Nombre }}" width="50"></td>
      </tr>
    </tbody>
</table>