<!-- Formulario con iconos dentro de los campos de entrada -->
<div id="formulario" class="container mt-5 d-flex flex-column align-items-center justify-content-center gap-3 mb-5 mt-0 w-75">
    <h2 class="text-center text-light">Formulario de Registro: </h2>
  
    <form (ngSubmit)="onSubmit($event)" #registrationForm="ngForm" class="w-50 d-flex flex-column gap-3 justify-content-center">

  
      <!-- Div de nombre de usuario -->
      <div class="form-group text-light mb-3 w-75 mx-auto">
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
          <input type="text" id="username" class="form-control" placeholder="Nombre de Usuario" required [(ngModel)]="model.username" name="username" #username="ngModel">
        </div>
        <div *ngIf="username.invalid && username.touched" class="text-danger">
          El nombre de usuario es obligatorio.
        </div>
      </div>
  
      <!-- Div de contraseña -->
      <div class="form-group text-light mb-3 w-75 mx-auto">
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
          <input [type]="passwordFieldType" id="password" class="form-control" placeholder="Contraseña" required [(ngModel)]="model.password" name="password" #password="ngModel">
          <span class="input-group-text" (click)="togglePasswordVisibility()">
            <i class="fa-solid" [ngClass]="passwordFieldType === 'password' ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="password.invalid && password.touched" class="text-danger">
          La contraseña es obligatoria.
        </div>
      </div>
  
      <!-- Div para repetir la contraseña -->
      <div class="form-group text-light mb-3 w-75 mx-auto">
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-lock"></i></span>
          <input [type]="repeatPasswordFieldType" id="repeatPassword" class="form-control" placeholder="Repite la Contraseña" required [(ngModel)]="model.repeatPassword" name="repeatPassword" #repeatPassword="ngModel">
          <span class="input-group-text" (click)="toggleRepeatPasswordVisibility()">
            <i class="fa-solid" [ngClass]="repeatPasswordFieldType === 'password' ? 'fa-eye-slash' : 'fa-eye'"></i>
          </span>
        </div>
        <div *ngIf="repeatPassword.invalid && repeatPassword.touched" class="text-danger">
          Debes repetir la contraseña.
        </div>
        <div *ngIf="model.password !== model.repeatPassword && model.repeatPassword" class="text-danger">
          Las contraseñas no coinciden.
        </div>
      </div>
  
      <!-- Div de correo electrónico -->
      <div class="form-group text-light mb-3 w-75 mx-auto">
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
          <input type="email" id="email" class="form-control" placeholder="Correo Electrónico" required [(ngModel)]="model.email" name="email" #email="ngModel">
        </div>
        <div *ngIf="email.invalid && email.touched" class="text-danger">
          Ingresa un correo electrónico válido.
        </div>
      </div>

      <!-- Campo para subir la imagen -->
      <div class="form-group text-light mb-3 w-75 mx-auto">
        <div class="input-group">
          <span class="input-group-text"><i class="fa-solid fa-image"></i></span>
          <input type="file" class="form-control" (change)="onFileChange($event)" accept="image/*" id="image" name="image" />
        </div>
        <div *ngIf="imageInvalid" class="text-danger">
          Debes seleccionar una imagen válida.
        </div>
      </div>

      <div class=" w-75 mx-auto d-flex justify-content-start align-items-center">
        <p class="text-light d-flex gap-2">¿Ya tienes cuenta?: 
            <button id="btnLogin" class="d-flex flex-row gap-2 align-items-center" type="button" (click)="route('/auth/login')">
                <i class="fa-solid fa-right-to-bracket text-light"></i>  
                Login
            </button> 
        </p>
      </div>
  
      <!-- Botón de registro -->
      <div class="row container w-75 mx-auto" style="height: 3rem;">
            <button type="submit" class="btn btn-primary w-100 h-100 fs-6" [disabled]="registrationForm.invalid">Enviar</button>
      </div>
      
    </form>
  </div>
  
  