<div class="payment-container text-light">
    <h2>PayPal Payment Gateway</h2>
  
    <!-- Monto y moneda (puedes hacer que estos campos sean dinámicos si lo deseas) -->
    <div class="payment-info">
      <label for="amount">Monto a pagar:</label>
      <input type="number" id="amount" [(ngModel)]="amount" placeholder="2000" />
      <label for="currency">Moneda:</label>
      <input type="text" id="currency" [(ngModel)]="currency" placeholder="USD" />
    </div>
  
    <!-- Botón para iniciar el pago -->
    <button (click)="createPayment()" class="btn-pay">Pagar con PayPal</button>
  
    <!-- Mensaje de estado -->
    <div *ngIf="paymentStatus" class="payment-status">
      <p>{{ paymentStatus }}</p>
    </div>
  </div>